body{
    background-image: url('https://images.unsplash.com/photo-1489254877404-9e401f87ce0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1354&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.jumbotron{
    margin-bottom: 0px;
    padding-bottom: 30px;
    background-color: rgba(200, 200, 200, .8);
}
.profile-pic{
  margin-left: -70px;
  margin-top: -80px;
  height: 500px;
}
.profile-frame{
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
}
.aboutme{
  font-size: 25px;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #4452a7; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding-bottom: 30px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 30px; /* Increase font size */
  width: 50px;
  height: 50px;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/* .myclass{
    background-image: url(https://images.unsplash.com/photo-1489254877404-9e401f87ce0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1354&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

.website{
    background-color: white;
    width: 69px;
    outline: none;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    transition: all ease-in-out 0.4s;
}
.website:hover{
    background-color: gray;
    color: white;
}

.card-subtitle{
    color: #000000;
}
.card-header{
    color: #2D7EB2;
    outline: none;
    border: none;
    font-size: 18px;
    background: linear-gradient(to right, #2D7EB2, #90C1F5);
    background-repeat: no-repeat;
    background-size: 0px 100%;
    -webkit-transition: all ease-in-out .8s;
    transition: all ease-in-out .8s;
}
.card:hover .card-header{
    background-size: 100% 100%;
    background-color: white;
    color: white;
}
.card{
    background-color: rgba(240,240,240,.9)
}

.resume{
    margin-top: 10px;
    color: black;
}
