.jumbotron{
    margin-bottom: 0px;
}
.profile-pic{
  margin-left: -70px;
  margin-top: -80px;
  height: 500px;
}
.profile-frame{
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
}
.aboutme{
  font-size: 25px;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #4452a7; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding-bottom: 30px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 30px; /* Increase font size */
  width: 50px;
  height: 50px;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.myclass{
    background-image: url(https://cdn.pixabay.com/photo/2017/05/19/06/22/desktop-2325627_960_720.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.website{
    background-color: white;
    width: 100px;
    outline: none;
    border: 3px ridge black;
    border-radius: 50px;
    font-size: 18px;
    transition: all ease-in-out 0.4s;
}
.website:hover{
    background-color: gray;
    color: white;
}

.card-header{
    outline: none;
    border: none;
    font-size: 18px;
    box-shadow: inset 0 0 0 0 #31302B;
    transition: all ease-in-out 0.8s;
}
.card:hover .card-header{
    box-shadow: inset 1200px 0 0 0 #2D7EB2;
    color: white;
}
