
.profile-pic{
  margin-left: -70px;
  margin-top: -80px;
  height: 500px;
}
.profile-frame{
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
}
.aboutme{
  font-size: 25px;
}
